SECRET_KEY=django-insecure-fcb*=)y952zp3xp)cc+ivwc$9j!^^_sim=4chmhzc1ai$(o6ih

DEBUG=True

POSTGRES_DB=app_db
POSTGRES_USER=ctoiia
POSTGRES_PASSWORD=rjhjkmkj[1
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DJANGO_SUPERUSER_PASSWORD=rjhjkmkj[1
DJANGO_SUPERUSER_USERNAME=ctoiia
DJANGO_SUPERUSER_EMAIL=fffxx@mail.ru